/*This is a default CSS document*/
*{
    padding:0px;
    margin:0px;
    text-align:center;
}
/*This is the start of the webpage*/
.wrapper{
    min-height:1000px;
    min-width:1000px;
    background-color:silver;
}
    /*Define the classes below*/
    .high_box{
        background-color:red;
        text-align:center;
        display:inline-block;
        max-height:300px;
        width:300px;
        margin:auto;
        padding-top:100px;
        padding-bottom:115px;
    }
    .low_box{
        background-color:red;
        display:inline-block;
        max-height:300px;
        width:300px;
        margin:auto;
        padding-top:100px;
        padding-bottom:115px;
    }
    .correct_box{
        background-color:green;
        display:inline-block;
        max-height:300px;
        width:300px;
        margin:auto;
        padding-top:100px;
        padding-bottom:115px;
    }